# Sales Prediction Using Python

In [6]:
import numpy as np
import pandas as pd

In [7]:
Data = pd.read_csv('Advertising.csv')

In [8]:
Data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [9]:
Data.drop('Unnamed: 0',axis=1,inplace=True)

In [10]:
Data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [14]:
x = Data.drop(['Sales'],axis=1)
y = Data['Sales'].values.reshape(-1,1)

In [15]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [16]:
y

array([[22.1],
       [10.4],
       [ 9.3],
       [18.5],
       [12.9],
       [ 7.2],
       [11.8],
       [13.2],
       [ 4.8],
       [10.6],
       [ 8.6],
       [17.4],
       [ 9.2],
       [ 9.7],
       [19. ],
       [22.4],
       [12.5],
       [24.4],
       [11.3],
       [14.6],
       [18. ],
       [12.5],
       [ 5.6],
       [15.5],
       [ 9.7],
       [12. ],
       [15. ],
       [15.9],
       [18.9],
       [10.5],
       [21.4],
       [11.9],
       [ 9.6],
       [17.4],
       [ 9.5],
       [12.8],
       [25.4],
       [14.7],
       [10.1],
       [21.5],
       [16.6],
       [17.1],
       [20.7],
       [12.9],
       [ 8.5],
       [14.9],
       [10.6],
       [23.2],
       [14.8],
       [ 9.7],
       [11.4],
       [10.7],
       [22.6],
       [21.2],
       [20.2],
       [23.7],
       [ 5.5],
       [13.2],
       [23.8],
       [18.4],
       [ 8.1],
       [24.2],
       [15.7],
       [14. ],
       [18. ],
       [ 9.3],
       [ 9.5],
       [13.4],
       [18.9],
       [22.3],
       [18.3],
       [12.4],
       [ 8.8],
       [11. ],
       [17. ],
       [ 8.7],
       [ 6.9],
       [14.2],
       [ 5.3],
       [11. ],
       [11.8],
       [12.3],
       [11.3],
       [13.6],
       [21.7],
       [15.2],
       [12. ],
       [16. ],
       [12.9],
       [16.7],
       [11.2],
       [ 7.3],
       [19.4],
       [22.2],
       [11.5],
       [16.9],
       [11.7],
       [15.5],
       [25.4],
       [17.2],
       [11.7],
       [23.8],
       [14.8],
       [14.7],
       [20.7],
       [19.2],
       [ 7.2],
       [ 8.7],
       [ 5.3],
       [19.8],
       [13.4],
       [21.8],
       [14.1],
       [15.9],
       [14.6],
       [12.6],
       [12.2],
       [ 9.4],
       [15.9],
       [ 6.6],
       [15.5],
       [ 7. ],
       [11.6],
       [15.2],
       [19.7],
       [10.6],
       [ 6.6],
       [ 8.8],
       [24.7],
       [ 9.7],
       [ 1.6],
       [12.7],
       [ 5.7],
       [19.6],
       [10.8],
       [11.6],
       [ 9.5],
       [20.8],
       [ 9.6],
       [20.7],
       [10.9],
       [19.2],
       [20.1],
       [10.4],
       [11.4],
       [10.3],
       [13.2],
       [25.4],
       [10.9],
       [10.1],
       [16.1],
       [11.6],
       [16.6],
       [19. ],
       [15.6],
       [ 3.2],
       [15.3],
       [10.1],
       [ 7.3],
       [12.9],
       [14.4],
       [13.3],
       [14.9],
       [18. ],
       [11.9],
       [11.9],
       [ 8. ],
       [12.2],
       [17.1],
       [15. ],
       [ 8.4],
       [14.5],
       [ 7.6],
       [11.7],
       [11.5],
       [27. ],
       [20.2],
       [11.7],
       [11.8],
       [12.6],
       [10.5],
       [12.2],
       [ 8.7],
       [26.2],
       [17.6],
       [22.6],
       [10.3],
       [17.3],
       [15.9],
       [ 6.7],
       [10.8],
       [ 9.9],
       [ 5.9],
       [19.6],
       [17.3],
       [ 7.6],
       [ 9.7],
       [12.8],
       [25.5],
       [13.4]])

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression()
lr.fit(x,y)

LinearRegression()

In [19]:
lr.score(x,y)

0.8972106381789522

In [20]:
import statsmodels.api as sma

In [23]:
x = np.column_stack((Data['Newspaper'],Data['TV'],Data['Radio']))
x_cons = sma.add_constant(x)
ols_est = sma.OLS(y,x_cons)
ols_est_fit = ols_est.fit()
print(ols_est_fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Fri, 24 Feb 2023   Prob (F-statistic):           1.58e-96
Time:                        23:25:18   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
x1            -0.0010      0.006     -0.177      0.860      -0.013       0.011
x2             0.0458      0.001     32.809      0.000       0.043       0.049
x3             0.1885      0.009     21.893      0.000       0.172       0.206
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.